body {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif JP', serif;
    font-size: large;
    color: #4E4682;
}

h1 {
    font-size: 8vw;
    padding: 2vw;
}

h2 {
    color: #c0181e
}

header {
    flex: 2;
}

main {
    flex: 7;
    display: flex;
    justify-content: space-evenly;
}

footer {
    flex: 3;
}

#display {
    width: 50%;
    padding-left: 25px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#searchbar {
    width: 50%;
    display: block;
    text-align: left;
}

#searchresults {
    text-align: left;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 330px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5vw;
    padding-top: 1vw;
    margin-bottom: 2vw;
    font-size: 4vw;
    border: black solid 2px;
}

a:hover {
    color: #9d36af;
}

#home:hover,
#overview:hover,
#new:hover {
    color: #782D86;
    transform: scale3d(1.05, 1.05, 1.05);
}

#upd {
    height: fit-content;
}

table {
    background-color: #DED0FF;
    border-radius: 8px;
}

th {
    padding: 1em 0;
    text-align: center;
}

td {
    padding: 0 0.5em;
    text-align: left;
}

#rest {
    background-color: white;
    border: #DED0FF 3px solid;
}

.adjust {
    width: fit-content;
    margin: 0 25% 0;
}

.m-left25px {
    margin: 0 5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #4E4682;
    text-decoration: none;
}

.view {
    margin: 10px 25% 0;
    text-align: left;
    width: max-content;
    margin-left: 0;
}

button {
    background-color: #782D86;
    border-radius: 6px;
    border: #782D86 3px solid;
    margin-top: 0.5rem;
    padding: 0.5em 1em;
    font-size: 0.6em;
    color: whitesmoke;
}

button:hover {
    background-color: rgb(189, 2, 189);
    border: rgb(189, 2, 189) 3px solid;
}

.buttons {
    width: max-content;
    text-align: left;
}

.btnr {
    border: #952125 3px solid;
    background-color: #952125;
    color: whitesmoke;
    font-size: 0.9rem;
}

.btnr:hover {
    background-color: #c0181e;
    border: #c0181e 3px solid;
}

.inputForm {
    text-align: left;
    width: max-content;
}

label {
    display: block;
    text-align: left;
    margin-top: 15px;
    padding: 3px;
}

#link {
    font-size: 0.7rem;
    height: 28px;
}

.checkbox {
    display: flex;
}

#red {
    color: #952125;
}

.lines {
    display: flex;
}

@media (min-width: 1200px) {
    h1 {
        font-size: 95px;
    }
    #navbar {
        font-size: 36px;
    }
}

@media (max-width: 500px) {
    #navbar {
        font-size: 20px;
    }
}

@media (max-width: 630px) {
    main {
        flex-direction: column;
    }
    #searchbar {
        padding-left: 2em;
    }
    #display {
        width: 90%;
    }
    .btnr {
        font-size: 0.7em;
    }
}